<nav class="navbar bg-body-tertiary">
  <a href="/colleagues" class="navbar-brand m-2 flex items-center">
    <img class="w-15 h-4 mr-2 ml-3" src="/hps.png" alt="logo">
    <span>Daily Meeting</span>
  </a>

  <ul class="nav nav-pills me-auto my-2 my-lg-0" *ngIf="appState.authState.roles.includes('ROLE_USER')">
    <li class="nav-item">
      <button routerLink="/colleagues" class="nav-link">
        Mes Collègues
      </button>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Mes tâches
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="/tasks">Liste des tâches</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="/addTask">Ajouter une tâche</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" routerLink="/tasksHistory">Historique des tâches</a></li>
      </ul>
    </li>
    <li class="nav-item" *ngIf="appState.authState.roles.includes('ROLE_ADMIN')">
      <a routerLink="/addColleague" class="nav-link">
        Ajouter un collègue
      </a>
    </li>
  </ul>

  <ul class="nav nav-pills">
    <li *ngIf="appState.authState.isAuthenticated" class="mr-3 relative">
      <button type="button" (click)="openDropDown()" class="flex text-sm bg-gray-800 rounded-full md:me-0
        focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false"
              data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-10 h-10 rounded-full" [src]="this.appState.authState.imageUri" alt="user photo">
      </button>
      <!-- Dropdown menu -->
      <div *ngIf="openClose" class="absolute right-0 z-50 my-4 text-base list-none bg-white divide-y divide-gray-100
        rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
        <div class="px-4 py-3">
    <span class="block text-sm text-gray-900 dark:text-white">
      {{ appState.authState.username }}
    </span>
          <span class="block text-sm text-gray-500 truncate dark:text-gray-400">
      {{ appState.authState.email }}
    </span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <button routerLink="/profile" (click)="openDropDown()" type="button" class="flex items-center w-full px-4 py-2 text-sm font-medium text-left border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
              <svg class="w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.75 4H19M7.75 4a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 4h2.25m13.5 6H19m-2.25 0a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 10h11.25m-4.5 6H19M7.75 16a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 16h2.25"/>
              </svg>
              Settings
            </button>
          </li>
          <li>
            <button (click)="handleLogOut()" class="flex items-center w-full px-4 py-2 text-sm font-medium text-left border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
              <svg class="w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6M12 9l3 3-3 3M16 3H6a2 2 0 00-2 2v14a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2z" />
              </svg>
              Sign Out
            </button>
          </li>
        </ul>
      </div>

    </li>
    <li *ngIf="!appState.authState.isAuthenticated">
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse mr-3">
        <button type="button" (click)="handleLogin()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Sign In
        </button>
        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Login</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</nav>
