<div class="flex justify-between min-h-screen space-x-4 bg-gray-100 p-4">

  <!-- In-progress tasks column -->
  <div class="w-1/2 max-w-md flex flex-col">

    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">En Cours ({{ appState.inProgressTasksCount }})</h2>
      <button class="bg-gray-200 w-8 h-8 flex items-center justify-center rounded-full" routerLink="/addTask">+</button>
    </div>

    <div class="space-y-2 flex-grow overflow-y-auto">
      <div
        [ngClass]="{'bg-red-500': task.priority === 'HIGH', 'bg-yellow-500': task.priority === 'MEDIUM', 'bg-green-400': task.priority === 'LOW'}"
        class="p-2 rounded-lg shadow text-1xl max-w-sm relative" *ngFor="let task of tasks">
        <h5 class="font-bold text-white">{{ task.title }}</h5>
        <p class="text-white"><span class="font-semibold">Description:</span> <br>
          <button (click)="openDetailModal(task)" class="text-indigo-950 hover:text-indigo-950">
            <strong>
              <u>
                <i>
                  Voir détails
                </i>
              </u>
            </strong>
          </button>
        </p>
        <p class="text-white"><span class="font-semibold">Priorité:</span> {{ task.priority === 'HIGH' ? 'Urgente' : task.priority === 'MEDIUM' ? 'Moyenne' : 'Normale' }}</p>
        <p class="text-white"><span class="font-semibold">Créé le:</span> {{ task.createdAt | date: 'dd/MM/yyyy, HH:mm' }}</p>
        <div class="flex space-x-2">
          <button id="dropdownRadioBgHoverButton" (click)="toggleDropdown(task)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Priorité
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </button>

          <button (click)="completeTask(task)" class="ms-2 text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-800" type="button">
            Compléter
            <svg class="w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
            </svg>
          </button>

          <button (click)="deleteTask(task)" class="ms-2 text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center dark:bg-red-700 dark:hover:bg-red-800 dark:focus:ring-red-900" type="button">
            Supprimer
            <svg class="w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>

        <!-- Dropdown menu -->
        <div [ngClass]="{'hidden': !task.dropdownOpen}" class="absolute z-10 w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
          <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioBgHoverButton">
            <li>
              <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                <input (change)="changePriority(task, 'HIGH')" id="default-radio-4-{{task.taskId}}" type="radio" value="HIGH" [name]="'priority-' + task.taskId" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label [for]="'default-radio-4-' + task.taskId" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">
                  Urgente
                </label>
              </div>
            </li>
            <li>
              <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                <input (change)="changePriority(task, 'MEDIUM')" id="default-radio-5-{{task.taskId}}" type="radio" value="MEDIUM" [name]="'priority-' + task.taskId" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label [for]="'default-radio-5-' + task.taskId" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">
                  Moyenne
                </label>
              </div>
            </li>
            <li>
              <div class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                <input (change)="changePriority(task, 'LOW')" id="default-radio-6-{{task.taskId}}" type="radio" value="LOW" [name]="'priority-' + task.taskId" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                <label [for]="'default-radio-6-' + task.taskId" class="w-full ms-2 text-sm font-medium text-gray-900 rounded dark:text-gray-300">
                  Normale
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <nav class="mt-3">
      <ul class="flex justify-center space-x-1">
        <li>
          <button class="px-2 py-1 bg-gray-200 rounded" (click)="prevPage()">Previous</button>
        </li>
        <li *ngFor="let page of [].constructor(appState.tasksState.totalPages); let index = index">
          <button class="px-2 py-1 bg-gray-200 rounded" (click)="goToPage(index)"
                  [ngClass]="{'bg-blue-500 text-black': appState.tasksState.currentPage === index}">
            {{ index + 1 }}
          </button>
        </li>
        <li>
          <button class="px-2 py-1 bg-gray-200 rounded" (click)="nextPage()">Next</button>
        </li>
      </ul>
    </nav>

  </div>

  <!-- Completed tasks column -->
  <div class="w-1/2 max-w-md flex flex-col">

    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold">Complétées ({{ appState.completedTasksCount }})</h2>
    </div>

    <div class="space-y-2 flex-grow overflow-y-auto">
      <div class="p-2 rounded-lg shadow text-1xl max-w-sm bg-blue-500 text-white" *ngFor="let task of completedTasks">
        <h5 class="font-bold">{{ task.title }}</h5>
        <p><span class="font-semibold">Description:</span> <br>
          <button (click)="openDetailModal(task)" class="text-white hover:text-white">
            <strong>
              <u>
                <i>
                  Voir détails
                </i>
              </u>
            </strong>
          </button>
        </p>
        <p><span class="font-semibold">Priorité:</span> {{ task.priority === 'HIGH' ? 'Urgente' : task.priority === 'MEDIUM' ? 'Moyenne' : 'Normale' }}</p>
        <p><span class="font-semibold">Complétée le:</span> {{ task.updatedAt | date: 'dd/MM/yyyy, HH:mm' }}</p>
        <button (click)="reactiveTask(task)" class="ms-2 text-white bg-yellow-500 hover:bg-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-400 font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center dark:bg-yellow-500 dark:hover:bg-yellow-600 dark:focus:ring-yellow-800" type="button">
          Reprendre
          <svg class="w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"/>
          </svg>
        </button>
        <button (click)="deleteTask(task)" class="ms-2 text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center dark:bg-red-700 dark:hover:bg-red-800 dark:focus:ring-red-900" type="button">
          Supprimer
          <svg class="w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>

    <nav class="mt-3">
      <ul class="flex justify-center space-x-1">
        <li>
          <button class="px-2 py-1 bg-gray-200 rounded" (click)="completedPrevPage()">Previous</button>
        </li>
        <li *ngFor="let page of [].constructor(appState.completedTasksState.totalPages); let index = index">
          <button class="px-2 py-1 bg-gray-200 rounded" (click)="completedGoToPage(index)"
                  [ngClass]="{'bg-blue-500 text-black': appState.completedTasksState.currentPage === index}">
            {{ index + 1 }}
          </button>
        </li>
        <li>
          <button class="px-2 py-1 bg-gray-200 rounded" (click)="completedNextPage()">Next</button>
        </li>
      </ul>
    </nav>

  </div>

  <div *ngIf="selectedTaskForDetails" class="fixed inset-0 z-20 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen">
      <div class="fixed inset-0 bg-gray-600 bg-opacity-50 transition-opacity"></div>
      <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full p-4">
        <div class="text-left">
          <div class="mt-3 sm:mt-0 sm:text-left">
            <h3 class="text-lg text-center leading-6 font-medium text-gray-900">
              Détails de la Tâche
            </h3>
            <div class="mt-3 bg-gray-50">
              <!-- Removing text-gray-500 to avoid gray styling of the HTML content -->
              <p class="text-sm text-start p-3" [innerHTML]="selectedTaskForDetails.description"></p>
            </div>
          </div>
        </div>
        <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="button"
                  class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm"
                  (click)="closeDetailModal()">
            Fermer
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
